## DICTIONARIES

In [1]:
person ={
    "first" : "Dhrubajyoti",
    "last" : "Patra",
    "email" : "dhrubajyotipatra16@gmail.com"
}

In [2]:
people ={
    "first":["Dhrubajyoti"],
    "last" :["Patra"],
    "email" :["dhrubajyotipatra16@gmail.com"]
}

In [3]:
people = {
    "first" : ["Dhrubajyoti","Shivam","Aniket"],
    "last" :["Patra","Patel","Ghosh"],
    "email":["dhrubajyotipatra16@gmail.com","shivampatel@gmail.com","aniketghosh@gmail.com"]
}

In [4]:
people["last"]

['Patra', 'Patel', 'Ghosh']

## Using dictionaries as dataframe

In [5]:
import pandas as pd
import numpy as np

In [6]:
df_dict = pd.DataFrame(people)

In [7]:
df_dict

         first   last                         email
0  Dhrubajyoti  Patra  dhrubajyotipatra16@gmail.com
1       Shivam  Patel         shivampatel@gmail.com
2       Aniket  Ghosh         aniketghosh@gmail.com

In [8]:
df_dict["last"]

0    Patra
1    Patel
2    Ghosh
Name: last, dtype: object

In [9]:
type(df_dict["last"])

pandas.core.series.Series

In [10]:
df_dict.email

0    dhrubajyotipatra16@gmail.com
1           shivampatel@gmail.com
2           aniketghosh@gmail.com
Name: email, dtype: object

In [11]:
df_dict[["last","email"]]

    last                         email
0  Patra  dhrubajyotipatra16@gmail.com
1  Patel         shivampatel@gmail.com
2  Ghosh         aniketghosh@gmail.com

In [12]:
df_dict.columns

Index(['first', 'last', 'email'], dtype='object')

## ILOC is used to get rows acc to integer loaction

In [13]:
df_dict.iloc[0]

first                     Dhrubajyoti
last                            Patra
email    dhrubajyotipatra16@gmail.com
Name: 0, dtype: object

In [14]:
df_dict.iloc[[0,1]]

         first   last                         email
0  Dhrubajyoti  Patra  dhrubajyotipatra16@gmail.com
1       Shivam  Patel         shivampatel@gmail.com

## here 2 is used to specify which column we want from the above table

In [15]:
df_dict.iloc[[0,1],2]

0    dhrubajyotipatra16@gmail.com
1           shivampatel@gmail.com
Name: email, dtype: object

In [16]:
df_dict

         first   last                         email
0  Dhrubajyoti  Patra  dhrubajyotipatra16@gmail.com
1       Shivam  Patel         shivampatel@gmail.com
2       Aniket  Ghosh         aniketghosh@gmail.com

In [17]:
df_dict.loc[0]

first                     Dhrubajyoti
last                            Patra
email    dhrubajyotipatra16@gmail.com
Name: 0, dtype: object

## To see particular column values for specified rows in terms integer position

In [18]:
df_dict.loc[[0,1],['last','first']]

    last        first
0  Patra  Dhrubajyoti
1  Patel       Shivam

In [19]:
df_dict

         first   last                         email
0  Dhrubajyoti  Patra  dhrubajyotipatra16@gmail.com
1       Shivam  Patel         shivampatel@gmail.com
2       Aniket  Ghosh         aniketghosh@gmail.com

## Uses of index in dataframes

In [20]:
df_dict.set_index("email")

                                    first   last
email
dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
shivampatel@gmail.com              Shivam  Patel
aniketghosh@gmail.com              Aniket  Ghosh

In [21]:
df_dict

         first   last                         email
0  Dhrubajyoti  Patra  dhrubajyotipatra16@gmail.com
1       Shivam  Patel         shivampatel@gmail.com
2       Aniket  Ghosh         aniketghosh@gmail.com

## To make changes in orginal dataframe we have to use set_index

In [22]:
df_dict.set_index("email",inplace=True)

In [23]:
df_dict

                                    first   last
email
dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
shivampatel@gmail.com              Shivam  Patel
aniketghosh@gmail.com              Aniket  Ghosh

## To confirm it we can use .index

In [24]:
df_dict.index

Index(['dhrubajyotipatra16@gmail.com', 'shivampatel@gmail.com',
       'aniketghosh@gmail.com'],
      dtype='object', name='email')

## We can use now the email id as index values

In [25]:
df_dict.loc["shivampatel@gmail.com", "last"]

'Patel'

In [26]:
df_dict.iloc[0]

first    Dhrubajyoti
last           Patra
Name: dhrubajyotipatra16@gmail.com, dtype: object

## We can reset it again to its orginal index

In [27]:
df_dict.reset_index(inplace=True)
df_dict

                          email        first   last
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
1         shivampatel@gmail.com       Shivam  Patel
2         aniketghosh@gmail.com       Aniket  Ghosh

## To check for some specific condition either it return true or false

In [28]:
df_dict["last"] == "patel"

0    False
1    False
2    False
Name: last, dtype: bool

In [29]:
filter = (df_dict["last"] == "patel")

In [30]:
df_dict[filter]

Empty DataFrame
Columns: [email, first, last]
Index: []

## We can search for other details of any specific value once it matches the above condition

In [31]:
df_dict.loc[filter,"email"]

Series([], Name: email, dtype: object)

## " ~ "can be used to get every value that doesn't match the condition"~ filter"

In [32]:
df_dict.loc[~filter,"email"]

0    dhrubajyotipatra16@gmail.com
1           shivampatel@gmail.com
2           aniketghosh@gmail.com
Name: email, dtype: object

In [33]:
df_dict.columns

Index(['email', 'first', 'last'], dtype='object')

## To change the Column name

In [34]:
df_dict.columns = ['email','first_name','Last_name']

In [35]:
df_dict

                          email   first_name Last_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti     Patra
1         shivampatel@gmail.com       Shivam     Patel
2         aniketghosh@gmail.com       Aniket     Ghosh

In [36]:
df_dict.columns = [x.upper() for x in df_dict.columns]
df_dict

                          EMAIL   FIRST_NAME LAST_NAME
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti     Patra
1         shivampatel@gmail.com       Shivam     Patel
2         aniketghosh@gmail.com       Aniket     Ghosh

## We can replace the ' _ ' with spaces if we want

In [37]:
df_dict.columns = df_dict.columns.str.replace('_',' ')
df_dict

                          EMAIL   FIRST NAME LAST NAME
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti     Patra
1         shivampatel@gmail.com       Shivam     Patel
2         aniketghosh@gmail.com       Aniket     Ghosh

## Changing the column name to previous ones

In [38]:
df_dict.rename(columns = {'FIRST NAME' : 'first', 'LAST NAME' : 'last'}, inplace=True)

In [39]:
df_dict

                          EMAIL        first   last
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
1         shivampatel@gmail.com       Shivam  Patel
2         aniketghosh@gmail.com       Aniket  Ghosh

In [40]:
df_dict.loc[2,['last','EMAIL']] = ['das','aniketdas@gmail.com']

In [41]:
df_dict

                          EMAIL        first   last
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
1         shivampatel@gmail.com       Shivam  Patel
2           aniketdas@gmail.com       Aniket    das

In [42]:
df_dict.loc[2,'last'] = "Ghosh"

In [43]:
df_dict

                          EMAIL        first   last
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
1         shivampatel@gmail.com       Shivam  Patel
2           aniketdas@gmail.com       Aniket  Ghosh

## We can use ' at ' in place of ' loc '

In [44]:
df_dict.at[2,'last'] = "Das"

In [45]:
df_dict

                          EMAIL        first   last
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
1         shivampatel@gmail.com       Shivam  Patel
2           aniketdas@gmail.com       Aniket    Das

In [46]:
filt = (df_dict['EMAIL'] == 'aniketdas@gmail.com')
df_dict[filt]

                 EMAIL   first last
2  aniketdas@gmail.com  Aniket  Das

## We can update any data from the dataframe this way

In [47]:
filt = (df_dict['EMAIL'] == 'aniketdas@gmail.com')
df_dict.loc[filt,'last'] = 'Ghosh'

   ## Converting any values into upper or lower case using string functions

In [48]:
df_dict['EMAIL'].str.upper()

0    DHRUBAJYOTIPATRA16@GMAIL.COM
1           SHIVAMPATEL@GMAIL.COM
2             ANIKETDAS@GMAIL.COM
Name: EMAIL, dtype: object

## This is for changing the value in data frame permanently

In [49]:
df_dict['EMAIL'] = df_dict['EMAIL'].str.lower()

In [50]:
df_dict

                          EMAIL        first   last
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra
1         shivampatel@gmail.com       Shivam  Patel
2           aniketdas@gmail.com       Aniket  Ghosh

## Use of apply, map, applymap, replace in data frames

In [51]:
df_dict['EMAIL'].apply(len)

0    28
1    21
2    19
Name: EMAIL, dtype: int64

## Using function to convert email into uppercase

In [52]:
def update_email(EMAIL):
    return EMAIL.upper()

In [53]:
df_dict['EMAIL'].apply(update_email)

0    DHRUBAJYOTIPATRA16@GMAIL.COM
1           SHIVAMPATEL@GMAIL.COM
2             ANIKETDAS@GMAIL.COM
Name: EMAIL, dtype: object

## It does not show length of each values of every row and column

In [54]:
df_dict.apply(len)

EMAIL    3
first    3
last     3
dtype: int64

## pd.series.min makes more sense in numerical because it shows the min value of every column

In [55]:
df_dict.apply(pd.Series.min)

EMAIL    aniketdas@gmail.com
first                 Aniket
last                   Ghosh
dtype: object

## ' Applymap' is used for applying function to every single values of the data frame

## like using ' len ' function to every values to get its length

In [56]:
df_dict.applymap(len)

   EMAIL  first  last
0     28     11     5
1     21      6     5
2     19      6     5

In [57]:
df_dict.applymap(str.upper)

                          EMAIL        first   last
0  DHRUBAJYOTIPATRA16@GMAIL.COM  DHRUBAJYOTI  PATRA
1         SHIVAMPATEL@GMAIL.COM       SHIVAM  PATEL
2           ANIKETDAS@GMAIL.COM       ANIKET  GHOSH

## ' Map ' is used for series ( ' EMAIL ' ,' first ', ' last ')

In [58]:
df_dict['first'].map({'Dhrubajyoti': 'Dhrubo', 'Shivam' : 'Shiv'})

0    Dhrubo
1      Shiv
2       NaN
Name: first, dtype: object

## In ' Map ' the values we did not modify automatically converted into ' Nan '

## By this way we can combine two columns

In [59]:
df_dict['Full_name'] = df_dict['first'] + ' ' + df_dict['last']

In [60]:
df_dict

                          EMAIL        first   last          Full_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra  Dhrubajyoti Patra
1         shivampatel@gmail.com       Shivam  Patel       Shivam Patel
2           aniketdas@gmail.com       Aniket  Ghosh       Aniket Ghosh

## Removing columns from the dataframe

## ' inplace true = '

In [61]:
df_dict.drop(columns = ['first','last'])

                          EMAIL          Full_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti Patra
1         shivampatel@gmail.com       Shivam Patel
2           aniketdas@gmail.com       Aniket Ghosh

In [62]:
df_dict

                          EMAIL        first   last          Full_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra  Dhrubajyoti Patra
1         shivampatel@gmail.com       Shivam  Patel       Shivam Patel
2           aniketdas@gmail.com       Aniket  Ghosh       Aniket Ghosh

## Wrong syntax for append

In [63]:
df_dict.append({'first' : 'Tony'}, ignore_index = True)

                          EMAIL        first   last          Full_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra  Dhrubajyoti Patra
1         shivampatel@gmail.com       Shivam  Patel       Shivam Patel
2           aniketdas@gmail.com       Aniket  Ghosh       Aniket Ghosh
3                           NaN         Tony    NaN                NaN

In [64]:
people = {
    'first' : ['Tony','Steve'],
    'last': ['Stark','Rogers'],
    'EMAIL' : ['ironman@avenge.com','cap@avenge.com']
}

df_dict2 = pd.DataFrame(people)

In [65]:
df_dict2

   first    last               EMAIL
0   Tony   Stark  ironman@avenge.com
1  Steve  Rogers      cap@avenge.com

## Right syntax for append in data frame

In [66]:
df_dict = df_dict.append(df_dict2,ignore_index=True)
df_dict

                          EMAIL        first    last          Full_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti   Patra  Dhrubajyoti Patra
1         shivampatel@gmail.com       Shivam   Patel       Shivam Patel
2           aniketdas@gmail.com       Aniket   Ghosh       Aniket Ghosh
3            ironman@avenge.com         Tony   Stark                NaN
4                cap@avenge.com        Steve  Rogers                NaN

## Dropping a particular data from dataframe

In [67]:
df_dict.drop(index=4)

                          EMAIL        first   last          Full_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti  Patra  Dhrubajyoti Patra
1         shivampatel@gmail.com       Shivam  Patel       Shivam Patel
2           aniketdas@gmail.com       Aniket  Ghosh       Aniket Ghosh
3            ironman@avenge.com         Tony  Stark                NaN

In [68]:
filt = df_dict['last'] == 'patel'

## Sorting Data

## sorting is happening in ascii values

In [69]:
df_dict.sort_values(by='last', ascending = True)

                          EMAIL        first    last          Full_name
2           aniketdas@gmail.com       Aniket   Ghosh       Aniket Ghosh
1         shivampatel@gmail.com       Shivam   Patel       Shivam Patel
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti   Patra  Dhrubajyoti Patra
4                cap@avenge.com        Steve  Rogers                NaN
3            ironman@avenge.com         Tony   Stark                NaN

In [70]:
df_dict.sort_values(by=['last','first'], ascending = True)

                          EMAIL        first    last          Full_name
2           aniketdas@gmail.com       Aniket   Ghosh       Aniket Ghosh
1         shivampatel@gmail.com       Shivam   Patel       Shivam Patel
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti   Patra  Dhrubajyoti Patra
4                cap@avenge.com        Steve  Rogers                NaN
3            ironman@avenge.com         Tony   Stark                NaN

In [71]:
df_dict.sort_values(by=['last','first'], ascending = [True,False])

                          EMAIL        first    last          Full_name
2           aniketdas@gmail.com       Aniket   Ghosh       Aniket Ghosh
1         shivampatel@gmail.com       Shivam   Patel       Shivam Patel
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti   Patra  Dhrubajyoti Patra
4                cap@avenge.com        Steve  Rogers                NaN
3            ironman@avenge.com         Tony   Stark                NaN

In [72]:
df_dict.sort_index()

                          EMAIL        first    last          Full_name
0  dhrubajyotipatra16@gmail.com  Dhrubajyoti   Patra  Dhrubajyoti Patra
1         shivampatel@gmail.com       Shivam   Patel       Shivam Patel
2           aniketdas@gmail.com       Aniket   Ghosh       Aniket Ghosh
3            ironman@avenge.com         Tony   Stark                NaN
4                cap@avenge.com        Steve  Rogers                NaN